{%  extends 'layouts/layout.twig' %}

{% block title %}
    Planes
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="assets/css/style.css">
{% endblock %}

{% block content %}
    <div class="hero">
        <div class="container">
            <h1 class="text-center">Conoce los planes que manejamos</h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-4 my-5">
                <div class="shadow p-3 bg-white rounded">
                    <h3>Plan Silver</h3>
                    <p>Lorem ipsum dolor sit.</p>
                    <ul>
                        <li>Almacenamiento en nuestro servidores</li>
                        <li>Actualización y seguridad del sitio</li>
                        <li>Creación de contenido</li>
                    </ul>
                    <a href="/plan/checkout?id=plan-semanal">
                        <button class="btn btn-outline-danger">Suscribirse al plan</button>
                    </a>
                </div>
            </div>
            <div class="col-4 my-5">
                <div class="shadow p-3 bg-white rounded">
                    <h3>Plan Gold</h3>
                    <p>Lorem ipsum dolor sit.</p>
                    <ul>
                        <li>Almacenamiento en nuestro servidores</li>
                        <li>Actualización y seguridad del sitio</li>
                        <li>Creación de contenido</li>
                    </ul>
                    <a href="/plan/checkout?id=plan-gold">
                        <button class="btn btn-outline-success">Suscribirse al plan</button>
                    </a>
                </div>
            </div>
            <div class="col-4 my-5">
                <div class="shadow p-3 bg-white rounded">
                    <h3>Plan Premium</h3>
                    <p>Lorem ipsum dolor sit.</p>
                    <ul>
                        <li>Almacenamiento en nuestro servidores</li>
                        <li>Actualización y seguridad del sitio</li>
                        <li>Creación de contenido</li>
                    </ul>
                    <a href="/plan/checkout?id=plan-premium">
                        <button class="btn btn-outline-primary">Suscribirse al plan</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}