<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Planes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

    <div class="hero">
        <div class="container">
            <h1 class="text-center">Conoce los planes que manejamos</h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-4 my-5">
                <div class="shadow p-3 bg-white rounded">
                    <h3>Plan Silver</h3>
                    <p>Lorem ipsum dolor sit.</p>
                    <ul>
                        <li>Almacenamiento en nuestro servidores</li>
                        <li>Actualización y seguridad del sitio</li>
                        <li>Creación de contenido</li>
                    </ul>
                    <a href="/plan/checkout?id=plan-semanal">
                        <button class="btn btn-outline-danger">Suscribirse al plan</button>
                    </a>
                </div>
            </div>
            <div class="col-4 my-5">
                <div class="shadow p-3 bg-white rounded">
                    <h3>Plan Gold</h3>
                    <p>Lorem ipsum dolor sit.</p>
                    <ul>
                        <li>Almacenamiento en nuestro servidores</li>
                        <li>Actualización y seguridad del sitio</li>
                        <li>Creación de contenido</li>
                    </ul>
                    <a href="/plan/checkout?id=plan-gold">
                        <button class="btn btn-outline-success">Suscribirse al plan</button>
                    </a>
                </div>
            </div>
            <div class="col-4 my-5">
                <div class="shadow p-3 bg-white rounded">
                    <h3>Plan Premium</h3>
                    <p>Lorem ipsum dolor sit.</p>
                    <ul>
                        <li>Almacenamiento en nuestro servidores</li>
                        <li>Actualización y seguridad del sitio</li>
                        <li>Creación de contenido</li>
                    </ul>
                    <a href="/plan/checkout?id=plan-premium">
                        <button class="btn btn-outline-primary">Suscribirse al plan</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>