{% extends 'layouts/layout.twig' %}

{% block title %}
    Plan - Suscripción
{% endblock %}

{% block content %}
    {% if error %}
        <div class="container">
            {{ error }}
        </div>
    {% endif %}
{% endblock %}